[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
tabulate = "*"
pyjwt = "*"
black = "*"
django-extensions = "*"
decorator = "*"

[dev-packages]

[requires]
python_version = "3.11"
