[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
tabulate = "*"
pyjwt = "*"
black = "*"
django-extensions = "*"
decorator = "*"
faker = "*"
matplotlib-inline = "*"
yarl = "*"
python-dateutil = "*"
sentry-sdk = "*"
asttokens = "*"
ipython = "*"
jedi = "*"
aiohttp = "*"
aiosignal = "*"
attrs = "*"
coverage = "*"
frozenlist = "*"
pathspec = "*"
pexpect = "*"
platformdirs = "*"

[dev-packages]

[requires]
python_version = "3.11"
